<link rel="stylesheet" href="../app.component.css">
<h2>Formulario Crear Artículo</h2>

<div>{{ messageService.message$ | async }}</div>
<div class="grupo-formulario">
    <form [formGroup]="articleForm" (ngSubmit)="createArticle()" >
      <div>
        <div>
          <input
            type="text"
            name="name"
            placeholder="Article Name"
            formControlName="name"
            required
          />
        </div>
        <div
          class="error"
          *ngIf="
            (articleForm.get('name').dirty || message) &&
            articleForm.get('name').invalid
          "
        >
          <div *ngIf="articleForm.get('name').errors?.['required']">
            El nombre del artículo es necesario
          </div>
          <div *ngIf="articleForm.get('name').errors?.['articleNameValid']">
            Nombre del artículo inválido
          </div>
        </div>
        <div>
          <input
            type="number"
            name="price"
            placeholder="Article Price"
            formControlName="price"
          />
        </div>
        <div
          class="error"
          *ngIf="
            (articleForm.get('price').dirty || message) &&
            articleForm.get('price').invalid
          "
        >
          <div *ngIf="articleForm.get('price').errors?.['required']">
            El precio del artículo es necesario
          </div>
          <div *ngIf="articleForm.get('price').errors?.['min']">
           El precio del artículo debe ser al menos 1
          </div>
        </div>
        <div>
          <input
            type="text"
            name="imageUrl"
            placeholder="article Image URL"
            formControlName="imageUrl"
          />
        </div>
        <div
          class="error"
          *ngIf="
            (articleForm.get('imageUrl').dirty || message) &&
            articleForm.get('imageUrl').invalid
          "
        >
          <div *ngIf="articleForm.get('imageUrl').errors?.['required']">
            La imagen URL del artículo es obligatoria
          </div>
          <div *ngIf="articleForm.get('imageUrl').errors?.['pattern']">
            La imagen del artículo no es una dirección URL válida
          </div>
        </div>
        <div>
          <h3>En venta</h3>
          <input type="checkbox" formControlName="isOnSale" name="isOnSale" />
          
        </div>
      </div>
      <button type="submit">Crear</button>
    </form>
  </div>