<link rel="stylesheet" href="../app.component.css">

<form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre">
      <div *ngIf="submitted && formControls.nombre.errors?.required">Nombre es obligatorio.</div>
    </div>
  
    <div>
      <label for="precio">Precio:</label>
      <input type="text" id="precio" formControlName="precio">
      <div *ngIf="submitted && (formControls.precio.errors?.required || formControls.precio.errors?.pattern || formControls.precio.errors?.min)">
        Precio es obligatorio y debe ser un número mayor o igual a 0,1€.
      </div>
    </div>
  
    <div>
      <label for="imagenUrl">URL de la imagen:</label>
      <input type="text" id="imagenUrl" formControlName="imagenUrl">
      <div *ngIf="submitted && formControls.imagenUrl.errors?.required">URL de la imagen es obligatoria.</div>
    </div>
  
    <div>
      <label for="enVenta">¿Está en venta?</label>
      <input type="checkbox" id="enVenta" formControlName="enVenta">
    </div>
  
    <button type="submit" [disabled]="articleForm.invalid">Enviar</button>
  </form>
  