.article-container {
  border: 1px solid orange;
  border-radius: 5px;
  background-color: rgb(246, 193, 97);

  flex-direction: row;
  padding: 10px;
}

.article-container .name h3, .article-container .name h4 {
  display: inline-block;
  
}


.unavailable-price{
color:grey;
}

.available-price {
color: white;
}

.available-item {
  background-color: rgb(185, 155, 212);

}
.unavailable-item {
  background-color: bisque;
  display: inline-block;
  margin: 10px; 
  padding: 10px;
}
