.stock-container {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    flex-direction: row;
    padding: 10px;
    background-color: yellow;
  }
  
  .stock-container .name h3, .stock-container .name h4 {
    display: inline-block;
  }

 
  /* Estilo para el formulario */
form {
  max-width: 400px;
  margin: 0 auto;
}

/* Estilo para las etiquetas de los campos */
label {
  display: block;
  margin-bottom: 5px;
  color:black;
}

/* Estilo para los campos de entrada */
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

div {
  color: black;
  margin-bottom: 10px;
}

/* Estilo para el botón de enviar */
button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

h3{
  text-align: center;
}
h2{

  text-align:center;
}

