<link rel="stylesheet" href="../app.component.css">

<h3>
 Introduzca artículo
</h3>

<div>
  <h4 class="error">{{ message }}</h4>
  <form (ngSubmit)="createArticle(articleForm)" #articleForm="ngForm">
    <div ngModelGroup="article">
      <div>
        <input
          type="text"
          ngModel
          #articleName="ngModel"
          name="name"
          placeholder="Nombre Artículo"
          required
        />
      </div>
      <div
        class="error"
        *ngIf="(articleName.dirty || message) && articleName.invalid"
      >

      Necesario el nombre del artículo
      </div>
      <div>
        <input
          type="number"
          ngModel
          name="price"
          placeholder="Precio Artículo"
          #articlePrice="ngModel"
          required
        />
      </div>
      <div
        class="error"
        *ngIf="(articlePrice.dirty || message) && articlePrice.invalid"
      >
      
       Precio del artículo requerido
      </div>
      <div>
        <input
          type="text"
          ngModel
          name="imageUrl"
          placeholder="Imagen URL Artículo"
          #articleImageUrl="ngModel"
          pattern="^http(s?)\://[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(/\S*)?$"
          required
        />
      </div>
      <div
        class="error"
        *ngIf="(articleImageUrl.dirty || message) && articleImageUrl.invalid"
      >
        <div *ngIf="articleImageUrl.errors?.['required']">
          Imagen URL del Artículo Requerida
        </div>
        <div *ngIf="articleImageUrl.errors?.['pattern']">
         La imagen URL del artículo no es válida
        </div>
      </div>
      <div>
        En Venta
        <input type="checkbox" ngModel name="isOnSale" />
      </div>
    </div>
    <button type="submit">Crear</button>
  </form>
</div>
