<div>
  <h4 class="error">{{ message }}</h4>
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <div formGroupName="article">
      <div>
        <input type="text" formControlName="articleName" placeholder="Nombre del artículo" />
      </div>
      <div class="error" *ngIf="articleForm.get('article.articleName').hasError('required') && articleForm.get('article.articleName').touched">
        Nombre del artículo es obligatorio.
      </div>

      <div>
        <input type="number" formControlName="articlePrice" placeholder="Precio del artículo" />
      </div>
      <div class="error" *ngIf="articleForm.get('article.articlePrice').hasError('required') && articleForm.get('article.articlePrice').touched">
        Precio del artículo es obligatorio y debe ser numérico.
      </div>

      <div>
        <input type="text" formControlName="imageUrl" placeholder="URL de la imagen" />
      </div>
      <div class="error" *ngIf="articleForm.get('article.imageUrl').hasError('required') && articleForm.get('article.imageUrl').touched">
        URL de la imagen es obligatoria.
      </div>
      <div class="error" *ngIf="articleForm.get('article.imageUrl').hasError('pattern') && articleForm.get('article.imageUrl').touched">
        URL de la imagen no es válida.
      </div>

      <div>
        <input type="checkbox" formControlName="isForSale" /> ¿Está en venta?
      </div>
    </div>
    <button type="submit" [disabled]="articleForm.invalid">Guardar</button>
  </form>
</div>
